<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-2.dtd">
<body>

<div th:fragment="index">
	<span th:text="${welcome_message}">Boli boli!</span><br />
	-------------------------------------------------------------
	<div th:text="'Encrypted: ' + ${Encrypted}"></div>
	<div th:text="'Decrypted: ' + ${Decrypted}"></div>
	<div th:text="'Key: ' + ${GetKey}"></div>
</div>

</body>
</html>